@mixin button($color) {
    background: $color;

    &:hover {
        background: darken($color, 10%);
        cursor: pointer;
    }
}

.button {
    @include paragraph();

    padding: $space;
    border-radius: $border-radius;
    display: inline-block;
    text-align: center;
    border: 0px;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
    width: 100%;

    &--primary {
        @include button($primary);
    }

    &--secondary {
        @include button($secondary);
    }

    &--error {
        @include button($error);
    }

    &--alert {
        @include button($alert);
    }

    &--success {
        @include button($success);
    }

    &--inline {
        padding: $space--small $space;
    }

    &--disabled {
        cursor: not-allowed;
        background: $body-text;

        &:hover {
            cursor: not-allowed;
            background: $body-text;
        }
    }
}
