input {
    @include paragraph();
    line-height: 18px;
    background: #FFFFFF;
    font-size: 12px;
    border: 1px solid $light_gray;
    border-radius: $border-radius;
    padding: $space--small $space;
    color: $body-text;
    outline: none;

    &::placeholder {
        color: $light_text;
    }

    &:focus {
        border: 2px solid $primary;
        padding: ($space--small - 1px) ($space - 1px);
    }
}
